.scrollbarCode::-webkit-scrollbar-thumb:hover {
  background: #00000065;
}
.scrollbarCode::-webkit-scrollbar {
  height: 2px;
}

.scrollbarCode::-webkit-scrollbar-track {
  background: #000;
}

.scrollbarCode::-webkit-scrollbar-thumb {
  background-color: #36363670;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.scrollbarCode::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
}
