@tailwind base;
@tailwind components;
@tailwind utilities;

/* style the scrollbar with UI dark */
/* works on webkit browsers like chrome and safari */


::-webkit-scrollbar-thumb:hover {
  background: #00000065;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #36363670;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
}
